.debug{
    border: 1px solid red;
}
.my-bg-teal{
    background-color: var(--bs-teal);
}
img{
    width: 100%;
}
section:first-child figure{
    width: 200px;
}
.star-container div.border-top{
    width: 100px;
    vertical-align: middle;
}