
.my-bg-teal{
    background-color: var(--bs-teal) !important;
}
.my-text-teal{
    color: var(--bs-teal) ;
}
.my-bg-secondary{
    background-color: #3a546d;
}
.my-bg-dark{
    background-color: #2c3e50;
}
img{
    width: 100%;
}
section:first-child figure{
    width: 200px;
}
.star-container div.border-top{
    width: 100px;
    vertical-align: middle;
}